.xx{
    margin-top:100px;
    margin-left: 200px;
}
.yy{
    font-size:20px;
    width: 350px;
    margin-left: 200px;
}
.zz{
    margin-left: 200px;
}
.a{
    width: 400px;
}
.aa{
    width: 350px;
    font-size:20px;
}
.r{
    width:360px;
}
.n{
    width:300px;
}
.e{
    width: 300px;
    font-size: 20px;
}