form{
  width: 300px;
  margin: auto;
  background-color: aqua;
  padding: 70px;
  font-size: 20px;
}
input[type=text],
input[type=password],
input[type=number],
input[type=email],
input[type=file],
input[type=date],select,textarea
{
    width:100%;
    font-size:20px;
    padding: 4px;
}
div{
    margin-bottom: 10px;
    
}
button{
    background-color: green;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
    border-radius:10px;
}